* {
    padding: 0;
    margin: 0;
}

body {
    background-color: red;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 5px 10px lime;
    padding: 8px;
}

.links-container {
    display: flex;
    align-items: center;
}

.link {
    text-decoration: none;
    color: white;
    font-size: 24px;
    margin-right: 32px;
    font-weight: bold;
    background-color: darkcyan;
    border-radius: 25px;
    height: 40px;
    text-align: center;
    display: flex;
    align-items: center;
    padding: 4px;
    border: orangered 2px solid;
}

.link:hover {
    background-color: crimson;
    border-color: blue;
    color: darkblue;
}

.logo-wrapper {
    background-color: aqua;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.logo {
    width: 80px;
    border-radius: 50%;
}

.logo:hover {
    animation: spin 2s infinite;
}

@keyframes spin {
    100% {
        transform: rotateZ(360deg);
    }

}

.text-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 20px;
}

.h-text {
    font-size: 70px;
    margin-top: 20px;
    color: white;
    text-shadow: 0 0 3px black, 0 0 5px black;
}


.p-text {
    margin: 20px;
    font-size: 40px;
    color: white;
    text-shadow: 0 0 3px black, 0 0 5px black;
    text-align: center;
    width: 600px;
}

.btn {
    width: 200px;
    height: 80px;
    margin: 10px;
    background-color: green;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 25px;
    text-align: center;
    border-radius: 25px;
    text-decoration: none;
    border: 3px white solid;
    color: white;
}

.btn:hover {
    background-color: lightgreen;
    color: aqua;
    transition: all .4 ease-in-out;
    border-color: dodgerblue;
}

.location-container {
    margin-top: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.location-header {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.location-header h1 {
    color: white;
    font-size: 70px;
    text-shadow: 0 0 3px black, 0 0 5px black;
}


.location-header p {
    color: white;
    font-size: 40px;
    text-shadow: 0 0 3px black, 0 0 5px black;
}

.locations {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 30px;
}

.location-box {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 8px;
    margin: 8px;
    border-radius: 10px;
    border: 2px whitesmoke solid;
    width: 500px;
    height: 400px;
    overflow: hidden;
}

.bg-img1 {
    background: url(./Dead-Sea-Israel.webp);
    block-size: center;
    background-position: center;
}

.bg-img2 {
    background: url(./Manases-Manasseh.png);
    block-size: center;
    background-position: center;
}

.bg-img3 {
    background: url(./bethel.jpg);
    background-size: center;
    background-position: center;
}

.bg-img4 {
    background: url(./falafel.jpg);
    block-size: center;
    background-position: center;
}

.bg-img5 {
    background: url(./HUMMUS!.png);
    block-size: center;
    background-position: center;
}

.bg-img6 {
    background: url(./malabi.webp);
    block-size: center;
    background-position: center;
}

.bg-hid {
    top: 101%;
    position: relative;
    transition: all .5s ease-in-out;
    height: 100%;
    text-align: center;
}

.location-box:hover>.bg-hid {
    top: 0;
}

.location-box h3 {
    color: lawngreen;
    font-size: 50px;
}

.location-box img {
    width: 300px;
    height: 200px;
    padding: 10px;
    border-radius: 20px;
}

.footer-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: lime;
    height: 125px;
    margin-top: 60px;
}

.footer h5 {
    margin-top: 12px;
    color: white;
    font-size: 14px;
}



.grid-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    margin-top: 40px;
}

.grid {
    margin-top: 20px;
    display: grid;
    grid-template-columns: auto auto auto;
    background-color: var(--smokeWhite);
    padding: 10px;
    border-radius: 20px;
}

.item {
    background-color: var(--smokeLavender);
    border: 2px var(--darkGrey) solid;
    padding: 20px;
    width: 350px;
    border-radius: 20px;
    margin: 4px;
}

.item:hover {
    scale: 1.1;
    transition: all .3s ease-in-out;
}



.contact-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 400px;
    margin-top: 20px;
}



.left-side {
    background-color: red;
    border: blue 2px solid;
    margin: 20px;
    border-radius: 20px;
    padding: 4px;
    color: olive;
}


.left-side h3 {
    font-size: 40px;
    padding-left: 4px;
    text-align: center;
    color: lightblue;
}


.p {
    font-size: 20px;
    padding-left: 4px;
    color: aquamarine;
    text-align: center;
}

.contact-info {
    display: flex;
    margin-top: 20px;
    border-radius: 8px;
    justify-content: space-between;
    flex-direction: column;
}


.contact-info p {
    font-style: 20px;
    margin: 30px;
}

.right-side {
    background-color: darkgoldenrod;
    width: 600px;
    border-radius: 10px;
    margin: 20px;
    padding: 4px;
    border: green 2px solid;
}

.right-side p {
    font-style: 40px;
    color: orangered;
    text-align: center;

}


.right-side h1 {
    font-style: 40px;
    color: black;
    text-align: center;
}

.input-container{
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    height: 100%;
}

.input-container input{
    background-color: var(--smokeLavender);
    border-radius: 4px;
    margin: 10px;
    padding: 4px;
    height: 30px;   
}

.first-last{
    display: flex;
}

.first-last input{
    width: 50%;
    margin-left: 12px;
    padding: 4px;
    background-color: var(--smokeLavender);
    border-radius: 4px;
}

.review-wrapper{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 20px;
}

.review-wrapper h1{
    font-size: 35px;
    color: var(--lightGrey);
}

.review-container{
    margin-top: 20px;
    display: flex;
    justify-content: space-around;
    background-color: rgb(209, 209, 202);
    border-radius: 10px;
}

.review{
    margin: 20px;
    border: 2px white solid;
    border-radius: 10px;
    padding: 8px;
    background-color: whitesmoke;
    width: 500px;
    height: 200px;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: space-between
}

.review h3{
    font-size: 30px;
}

.review p{
    font-size: 20px;
}

.rating-container{
    margin-top: 8px;
}

.rating-container img{
    width: 30px;
}